.h-45 {
    height: 45px !important; 
}

.h-60 {
    height: 60px !important; 
}

.rounded-25 {
    border-radius: 25% !important;
}

.rounded-50 {
    border-radius: 50% !important;
}

.cover{
    /* background-color: #283747  !important; */
    background-image: url('../img/background/aa.jpg');
    background-color: #f5f5f5;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

.ml-10{
    margin-left: 10px;
}

.blur{
    filter: blur(10px);
}