/* @font-face {
  font-family: "JasonHandwriting3-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20220828/webfont/JasonHandwriting3-Regular.woff2) format("woff2");
} */

html{
    font-size: 110%;
    scroll-behavior: smooth;
}
.h-45 {
    height: 45px !important; 
}

.h-60 {
    height: 60px !important; 
}



.rounded-25 {
    border-radius: 25% !important;
}

.rounded-50 {
    border-radius: 50% !important;
}

.cover{
    min-height: 580px !important;
    /* background-color: #283747  !important; */
    background-size: cover;
    background-image: url('../img/background/origin.svg');
    background-color: #f5f5f5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 769px) {
  .cover{
    min-height: 580px !important;
    /* background-color: #283747  !important; */
    background-size: cover;
    background-image: url('../img/background/origin-m.jpg');
    background-color: #f5f5f5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    }
}

.ml-10{
    margin-left: 10px;
}


.pt-80{
    padding-top: 80px;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.nav-position {
    width: 100%;
    position: fixed;
}

.nav-background { 
    /* opacity: 0.8 !important; */
    background-color: rgba(202, 207, 210, 0.6) !important;
    -webkit-backdrop-filter: blur(2em) !important;
    backdrop-filter: blur(2em) !important;
    
}

.typed-cursor{
    font-family: 'Noto Sans TC';
    font-size: 50px;
    color: #ECF0F1;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.center-date {
    text-align: center;
}

.red-background {
    background-color: #FDEDEC;
}

.blue-background {
    background-color: #EBF5FB;
}

.gray-background {
    background-color: #E5E7E9;
}

.text-regular{
    font-weight: 500;
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.dark-text {
    color: #1B2631 !important;     
}

.backdrop-blur {
    background-color: rgba(255, 255, 255, 0.1) !important;
    -webkit-backdrop-filter: blur(1em) !important;
    backdrop-filter: blur(2em) !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.fit-content {
    position: absolute !important
    float: left !important;
    width: auto !important;
    height: 100% !important;
}

h1 {
    color: #D4AC0D !important;
}

h2 {
    color: #D4AC0D !important;
}

h3 {
    color: #D4AC0D !important;
}

h4 {
    color: #D4AC0D !important;
}


.b-t-s-1 {
    border: none;
    border-top: solid 1px;
}