/* @font-face {
  font-family: "JasonHandwriting3-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20220828/webfont/JasonHandwriting3-Regular.woff2) format("woff2");
} */

html{
    font-size: 110%;
    scroll-behavior: smooth;
}
.h-45 {
    height: 45px !important; 
}

.h-60 {
    height: 60px !important; 
}



.rounded-25 {
    border-radius: 25% !important;
}

.rounded-50 {
    border-radius: 50% !important;
}

.cover{
    min-height: 580px !important;
    /* background-color: #283747  !important; */
    background-image: url('../img/background/blur5.jpg');
    background-color: #f5f5f5;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

.ml-10{
    margin-left: 10px;
}


.pt-80{
    padding-top: 80px;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.nav-position {
    width: 100%;
    position: fixed;
}

.nav-background { 
    /* opacity: 0.8 !important; */
    background-color: rgba(214, 234, 248 , 0.6) !important;
    -webkit-backdrop-filter: blur(2em) !important;
    backdrop-filter: blur(2em) !important;
    
}

.typed-cursor{
    font-family: 'Noto Sans TC';
    font-size: 50px;
    color: #ECF0F1;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.center-date {
    text-align: center;
}

.red-background {
    background-color: #FDEDEC;
}

.blue-background {
    background-color: #EBF5FB;
}

.gray-background {
    background-color: #E5E7E9;
}

.text-regular{
    font-weight: 500;
}

.text-shadow {
    text-shadow: 2px 2px 3px black;
}