.h-45 {
    height: 45px !important; 
}

.h-60 {
    height: 60px !important; 
}



.rounded-25 {
    border-radius: 25% !important;
}

.rounded-50 {
    border-radius: 50% !important;
}

.cover{
    /* background-color: #283747  !important; */
    background-image: url('../img/background/blur5.jpg');
    background-color: #f5f5f5;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

.ml-10{
    margin-left: 10px;
}


.pt-80{
    padding-top: 80px;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.nav-background { 
    /* opacity: 0.8 !important; */
    background-color: rgba(236, 240, 241 , 0.6); !important;
    -webkit-backdrop-filter: blur(2em) !important;
    backdrop-filter: blur(2em) !important;
    
}

.typed-cursor{
    font-size: 60px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}